In [1]:
import pandas as pd

In [3]:
dt_data = {'pais': ['Brasil', 'Argentina', 'Argentina',
'Brasil', 'Chile', 'Chile'],
'ano': [2005, 2006, 2005,2006, 2007, 2008],
'população': [170.1,30.5, 32.2,172.6,40.8,42.0]}
df = pd.DataFrame(dt_data)
print(df)

        pais   ano  população
0     Brasil  2005      170.1
1  Argentina  2006       30.5
2  Argentina  2005       32.2
3     Brasil  2006      172.6
4      Chile  2007       40.8
5      Chile  2008       42.0

In [19]:
# Para imprimir o valor na primeira linha e primeira coluna (Brasil em 2005):
print(df.iloc[0, 0])

Brasil

In [20]:
# Para imprimir o valor na segunda linha e primeira coluna (Argentina em 2006):
print(df.loc[1, 'pais'])

Argentina

In [21]:
# Para imprimir o valor na terceira linha e coluna 'população' (Argentina em 2005):
print(df.at[2, 'população'])

32.2

In [22]:
# Para imprimir o valor na quarta linha e coluna 'ano' (Brasil em 2006):
print(df.iat[3, 1])

2006